<footer class="main-footer">
  <div class="copyright">
    <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
  </div>
  
  <p align="center">
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">Total views: <span id="busuanzi_value_site_pv"></span> times</span>
  </p>
  
  <p>
    <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5vfvg795f5x&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
  </p>
</footer> <!-- End Footer -->
